# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.vscode/
.idea/
log/
node_modules/
*.log
goforit-back/mginx/mginx
goforit-back/mginx/static/
# Dependency directories (remove the comment below to include it)
# vendor/
goforit-back/common/script/crtsrv/crtsrv
script/goforit-data
goforit-bin*